<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691064110101-bhbj7f679ag45uco3fqpbo8tjvtagsap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691064110101-bhbj7f679ag45uco3fqpbo8tjvtagsap</string>
	<key>API_KEY</key>
	<string>AIzaSyC_ImEDSF7iKcho446qYU62dxSKii41EKo</string>
	<key>GCM_SENDER_ID</key>
	<string>691064110101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yuefunglee.businessApp</string>
	<key>PROJECT_ID</key>
	<string>businessapp-45166</string>
	<key>STORAGE_BUCKET</key>
	<string>businessapp-45166.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691064110101:ios:d0c7522649e4690fa9221c</string>
</dict>
</plist>